<html>
    <title>
        Food Tracker Site
    </title>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="padding: 5%;">
        <h1>View Food</h1>
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>
                            Food
                        </th>
                        <th>
                            {{ meal.food }}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Serving Size
                        </th>
                        <th>
                            {{ meal.serving_size }}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Meal Time
                        </th>
                        <th>
                            {{ meal.meal_time }}
                        </th>
                    </tr>
                </tbody>
            </table>
    </body>
</html>